source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget FSharp.Core
nuget Giraffe
nuget Thoth.Json.Giraffe
nuget Elmish.Bridge.Giraffe
nuget SeriLog
nuget Destructurama.FSharp prerelease
nuget Serilog.Sinks.Console
nuget Serilog.Formatting.Compact
nuget canopy
nuget selenium.webdriver.chromedriver
nuget TickSpec
nuget Expecto
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk
nuget altcover
nuget FSCheck
nuget Expecto.FsCheck
nuget Akka.Cluster.Sharding
nuget Akkling
nuget Akkling.Persistence
nuget Akkling.Cluster.Sharding
nuget Akka.Persistence.Query.Sql
nuget Akka.Cluster.Tools
nuget NodaTime
nuget NodaTime.Serialization.JsonNet
nuget Akka.Persistence.Sqlite
nuget Microsoft.Data.SQLite.Core 
nuget SQLProvider 
nuget SQLitePCLRaw.core 
nuget Microsoft.Extensions.Configuration
nuget Hocon.Extensions.Configuration
nuget FSharp.Interop.Dynamic
nuget Fable.Validation
nuget Fable.Aether

group Client
    source https://api.nuget.org/v3/index.json
    framework: auto-detect 
    storage: none
    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Elmish.Bridge.Client
    nuget Fable.Elmish.Browser
    nuget Feliz
    nuget Fable.Aether


group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0 
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes prerelease
    nuget Fake.Core.Target prerelease
    nuget Fake.DotNet.Cli prerelease
    nuget Fake.IO.FileSystem prerelease