source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget FSharp.Core
nuget Giraffe
nuget Thoth.Json.Giraffe
nuget Elmish.Bridge.Giraffe
nuget SeriLog
nuget Destructurama.FSharp prerelease
nuget Serilog.Sinks.Console
nuget Serilog.Formatting.Compact
nuget canopy
nuget selenium.webdriver.chromedriver
nuget FSharp.Core
nuget TickSpec

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0 
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes prerelease
    nuget Fake.Core.Target prerelease
    nuget Fake.DotNet.Cli prerelease
    nuget Fake.IO.FileSystem prerelease