*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 0;
    margin: 0;
    display: flex;
}


main {
    width: 100%;
}
.page {
    height: 100%;
}
