*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

main {
    height: 100%;
}

#elmish-app {
    height: 100%;
}

.page {
    height: 100%;
}
