:host,body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
:host > section,body > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

button{
    min-inline-size: 233px;
    min-block-size: 48px;
    block-size: auto;
    margin-left: 10px;
    margin-right: 10px;
}